<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block content %}
        <div class="container">
            {% for curator, direction_training in all_set_curator_direction_training.items %}
                <h3>Имя куратора: {{ curator.name }}</h3>
                <h5>Направление подготовки:</h5>
                {% for d_t in direction_training %}
                    <div>{{ d_t.name }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endblock content %}
    </body>
</html>